<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signed IN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    
    <header >
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Logo"></a>
        <a href="{{ url_for('admin') }}" class="admin-link">Admin</a>
    </header>
    <div class="container" id="signedOutContainer">
        <img id="checkMark" src="{{ url_for('static', filename='img/404.png') }}" alt="404" style="width: 50%;">
        <h1>Something went wrong...</h1>
        <a href="{{ url_for('index') }}" id="feedButton" style="text-decoration: none;">Home</a>
    </div>

</body>
</html>